### Dependencies: 
- Pandas
- Plotly

### Check if dependencies are installed:

1. In an Anaconda Terminal/Command Prompt, type the following lines to check if the dependencies are installed:
> conda list python <br>
> conda list plotly

If the modules show up in the list of packeges installed in the current environment, proceed to the start of the notebook. <br> If not, proceed to Step 2. 

2. In the Anaconda Terminal/Command Prompt, install the dependencies:
> conda install -y pandas plotly

3. Once the installation finishes, proceed to the start of the notebook.

# Data Visualization
---

In [1]:
# Import required module
import pandas as pd
import plotly.express as px
import os

if not os.path.exists("images"):
    os.mkdir("images")

In [2]:
# Import data from the Active Fire Dataset, VIIRS 375m / NOAA-20
data = pd.read_csv("https://firms2.modaps.eosdis.nasa.gov/data/active_fire/noaa-20-viirs-c2/csv/J1_VIIRS_C2_SouthEast_Asia_7d.csv",sep=',')
print (data.shape) # dimensions
data[:5]

(88197, 13)

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,confidence,version,bright_ti5,frp,daynight
0,-9.54568,148.59132,336.6,0.46,0.39,2021-03-16,324,1,nominal,2.0NRT,296.5,8.6,D
1,-8.27111,148.19341,331.1,0.46,0.39,2021-03-16,324,1,low,2.0NRT,293.0,3.4,D
2,-8.26811,148.16299,334.8,0.47,0.39,2021-03-16,324,1,low,2.0NRT,294.0,3.2,D
3,-5.96303,151.10936,336.8,0.38,0.36,2021-03-16,324,1,nominal,2.0NRT,296.6,3.5,D
4,-6.34173,145.21974,340.7,0.44,0.46,2021-03-16,324,1,nominal,2.0NRT,291.6,8.0,D

In [3]:
# Check datatypes
data.dtypes

latitude      float64
longitude     float64
bright_ti4    float64
scan          float64
track         float64
acq_date       object
acq_time        int64
satellite       int64
confidence     object
version        object
bright_ti5    float64
frp           float64
daynight       object
dtype: object

In [4]:
# Check for null values (values contain no info and can be removed)
data.isnull().sum()

latitude      0
longitude     0
bright_ti4    0
scan          0
track         0
acq_date      0
acq_time      0
satellite     0
confidence    0
version       0
bright_ti5    0
frp           0
daynight      0
dtype: int64

In [5]:
# Concatenate acquisition date and time into a single column
data['period']=data['acq_date']+' '+data['acq_time'].astype(str) # this leaves a df with acq_date and acq_time still there
data=data.drop(columns=['acq_date','acq_time'])
data['period']=pd.to_datetime(data.period, format='%Y-%m-%d %H%M')
data.sort_values(by=['period'], inplace=True) # observe that without this code, time does not flow correctly in the animation
data[:5]

,latitude,longitude,bright_ti4,scan,track,satellite,confidence,version,bright_ti5,frp,daynight,period
0,-9.54568,148.59132,336.6,0.46,0.39,1,nominal,2.0NRT,296.5,8.6,D,2021-03-16 03:24:00
22,-2.55527,140.13141,346.0,0.43,0.62,1,nominal,2.0NRT,290.3,5.8,D,2021-03-16 03:24:00
21,-3.70964,141.63997,332.6,0.35,0.57,1,nominal,2.0NRT,289.6,2.4,D,2021-03-16 03:24:00
19,-3.82232,143.34030,330.3,0.54,0.51,1,nominal,2.0NRT,289.3,7.3,D,2021-03-16 03:24:00
18,-3.97153,142.65863,339.5,0.60,0.53,1,nominal,2.0NRT,284.2,7.4,D,2021-03-16 03:24:00

In [6]:
# Plot animation
fig = px.scatter_geo(data, 
                    lat='latitude', 
                    lon='longitude', 
                    scope='asia',
                    center={'lat':2.2180,'lon':115.6628}, # centered to SEA
                    color='confidence',
                    animation_frame=data['period'].astype(str)) 
fig.write_html('images/animation.html')

from IPython.display import IFrame

IFrame(src='images/animation.html', width=1080, height=760)