### Dependencies: 
- Pandas
- Plotly

### Check if dependencies are installed:

1. In an Anaconda Terminal/Command Prompt, type the following lines to check if the dependencies are installed:
> conda list python <br>
> conda list plotly

If the modules show up in the list of packeges installed in the current environment, proceed to the start of the notebook. <br> If not, proceed to Step 2. 

2. In the Anaconda Terminal/Command Prompt, install the dependencies:
> conda install -y pandas plotly

3. Once the installation finishes, proceed to the start of the notebook.

# Data Visualization
---

In [1]:
# Import required module
import pandas as pd
import plotly.express as px

In [2]:
# Import data from the Active Fire Dataset, VIIRS 375m / NOAA-20
data = pd.read_csv("https://firms2.modaps.eosdis.nasa.gov/data/active_fire/noaa-20-viirs-c2/csv/J1_VIIRS_C2_SouthEast_Asia_7d.csv",sep=',')
print (data.shape) # dimensions
data[:5]

(103437, 13)

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,confidence,version,bright_ti5,frp,daynight
0,-10.00408,147.80695,353.4,0.42,0.45,2021-03-11,318,1,nominal,2.0NRT,295.0,8.8,D
1,-9.61842,149.65042,332.5,0.49,0.40,2021-03-11,318,1,nominal,2.0NRT,295.2,2.9,D
2,-9.54232,148.61978,333.1,0.56,0.43,2021-03-11,318,1,nominal,2.0NRT,293.7,4.1,D
3,-9.54294,148.61736,332.6,0.56,0.43,2021-03-11,318,1,nominal,2.0NRT,294.5,5.4,D
4,-9.53899,148.61691,333.1,0.56,0.43,2021-03-11,318,1,nominal,2.0NRT,293.9,5.4,D

In [3]:
# Check datatypes
data.dtypes

latitude      float64
longitude     float64
bright_ti4    float64
scan          float64
track         float64
acq_date       object
acq_time        int64
satellite       int64
confidence     object
version        object
bright_ti5    float64
frp           float64
daynight       object
dtype: object

In [4]:
# Concatenate acquisition date and time into a single column
data['period']=data['acq_date']+' '+data['acq_time'].astype(str) # this leaves a df with acq_date and acq_time still there
data=data.drop(columns=['acq_date','acq_time'])
data['period']=pd.to_datetime(data.period, format='%Y-%m-%d %H%M')
data[:5]

,latitude,longitude,bright_ti4,scan,track,satellite,confidence,version,bright_ti5,frp,daynight,period
0,-10.00408,147.80695,353.4,0.42,0.45,1,nominal,2.0NRT,295.0,8.8,D,2021-03-11 03:18:00
1,-9.61842,149.65042,332.5,0.49,0.40,1,nominal,2.0NRT,295.2,2.9,D,2021-03-11 03:18:00
2,-9.54232,148.61978,333.1,0.56,0.43,1,nominal,2.0NRT,293.7,4.1,D,2021-03-11 03:18:00
3,-9.54294,148.61736,332.6,0.56,0.43,1,nominal,2.0NRT,294.5,5.4,D,2021-03-11 03:18:00
4,-9.53899,148.61691,333.1,0.56,0.43,1,nominal,2.0NRT,293.9,5.4,D,2021-03-11 03:18:00

In [5]:
# Generate map of Asia dataset, animation currently buggy
# Size of circles are indicative of FRP values 
fig = px.scatter_geo(data, 
                     lat='latitude', 
                     lon='longitude', 
                     scope='asia',
                     center={'lat':2.2180,'lon':115.6628}, # centered to SEA
                     animation_frame=data['period'].dt.strftime('%Y-%m-%d %H:%M:%S'))
fig.show(renderer='iframe')
#fig = px.scatter_geo(data, lat='latitude', lon='longitude', scope='asia', size='frp', fitbounds='locations')
# fig.show(renderer='iframe')